@import "normalize.css";
@import "navbar.css";
@import "header.css";
@import "footer.css";
@import "typography.css";
@import "main.css";
@import "figure.css";
@import "byline.css";
@import "two-column-layout.css";
@import "responsive.css";





html {
    background-color: #000;
}

/*
body {
    background-color: #8892BF;
    border: 4px solid #4F5B93;
}

main {
    margin: 0 auto;
    max-width: 800px;

    padding: 0.5em;

    border: 4px solid #CCC;
    background-color: #F2F2F2;
    color: #333;
}
*/