.grid {
    display: grid;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px 50px auto 200px;
}

.page-header {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

.navbar {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

.sidebar {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.page-content {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    //grid-template-areas: 'top-left top-right' 'bottom bottom';
    //grid-template-columns: repeat(2, 1fr);
    //grid-gap: 25px;

    .bottom {
        grid-area: bottom;
    }

    .top-left {
        grid-area: top-left;
    }

    .top-right {
        grid-area: top-right;
    }
}

.page-footer {
    grid-column: 1 / 3;
    grid-row: 4 / 4;
}

@media screen and (max-width: 960px) {
    .page-content {
        grid-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'top-left' 'top-right' 'bottom';
    }
}



