.loginform {
    width: 260px;

    h1 {
        color: $font-meta-color;
        font-size: 1.1em;
        border-bottom: 1px solid $accent-color;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //padding-top: 20px;

        .form-field-block {

            label {
                //display: flex;
                //justify-content: center;
                //align-items: center;
                //width: 50px;
                //height: 50px;
                color: $font-meta-color;
            }
    
            input[type="password"],
            input[type="text"] {
                width: 220px;
                // height: 50px;
                border: 1px solid $accent-color;
                margin-bottom: 10px;
                padding: 5px;
            }
        }        

        input[type="submit"] {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
            background-color: $font-meta-color;
            color: $font-color;
            border: 0;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.2s;
        }

        input[type="submit"]:hover {
            background-color: $accent-color;
            transition: background-color 0.2s;
        }
    }

    .userreg {
        margin: 0;
        text-align: center;
        color: $font-meta-color;

        a {
            text-decoration: none;
            color: $font-meta-color
        }

        a:hover {
            color: $accent-color;
            transition: color 0.2s;
        }

    }


}

