.page-metadata {
    
    font-size: 0.8em;
    
    tr {
        margin: 0;
        padding: 0;
    }

    th[scope="row"] {
        text-align: left;
        padding: 0;
    }

    td {
        padding: 0;
        text-align: right;
    }

}