.sidebar {

    padding: 1rem;
    font-size: 0.9em;
    min-width: 150px;

    ul {
        padding: 0px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    .backlink {
        margin-left: 0.2rem;
    }

    .sidenav {

        a:link,
        a:visited {
            color: black;
        }

        a:hover {
            color: $accent-color;
        }

        li:first-of-type {
            border-bottom: 1px solid $accent-color;
        }
    }


}
