.signupform {
    width: 600px;
    margin: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    .formfield {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: "label field";

        label {
            grid-area: label;
            justify-self: stretch;
        }

        input {
            grid-area: field;
            justify-self: stretch;
        }
    }
}