{% extends "templates/base.twig" %}

{% block content %}
<aside class="sidebar"><ul>
    {% for itm in side_nav %}
        <li><a style="color: black" href="index.php?page={{ itm.url }}">{{ itm.title }}</a></li>
    {% endfor %}
</ul></aside>

<main class="grid page-content">
    <div class="top-left">
        Ett huvud för artikeln
    </div>
    <div class="top-right">
        En fot för artikeln
    </div>
    <div class="bottom">
        {{ content|raw }}
    </div>    
</main>
{% endblock %}
