{% extends "templates/base.twig" %}

{% block content %}
<aside class="sidebar"></aside>

<main class="grid page-content">
    <div class="top-left">
        Ett huvud för artikeln
    </div>
    <div class="top-right">
        En fot för artikeln
    </div>
    <div class="bottom">
        {{ content|raw }}
    </div>    
</main>
{% endblock %}
