{% extends "templates/base.twig" %}

{% block content %}
<main class="page-content">
    <form action="config/registration.php" methoc="post">
        <div class="formfield">
            <label for="fullname">Name</label>
            <input type="text" id="fullname" placeholder="Full name" />
        </div>
        <div class="formfield">
            <label for="email">Mail</label>
            <input type="text" id="email" placeholder="E-mail address" />
        </div>
        <div class="formfield">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" />
        </div>
        <div class="formfield">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" />
        </div>
        <div class="formfield">
            <label for="confirmation">Password confirmation</label>
            <input type="password" id="confirmation" placeholder="Re-type Password" />
        </div>
        <input type="submit" value="Register" />
    </form>
</main>
{% endblock %}
