<!-- Header -->
<header class="page-header">
    <div class="page-header-left">
        <img class="logo" src="assetts/img/favicon.png">
    </div>
    <div class="page-header-center">
        <div class="title">InfoRepo</div>
        <div class="subtitle">Min informationsportal</div>
    </div>
    <div class="page-header-right">
        {% include 'templates/loginform.twig' %}
    </div>
</header>