<!-- Header -->
<header class="page-header">
    <img class="logo" src="assetts/img/favicon.png">
    <span class="title">InfoRepo</span>
    <span class="subtitle">Min informationsportal</span>
</header>