/** byline.css */

.byline {
    display: block;
    overflow: auto;
    clear: both;
    margin: 100 15px;

    /* background-color: darkgreen; */
    background: linear-gradient(to right bottom, #fff, #151);
}

.byline .figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
}