
/* Set colors and size */
.page_footer {
    background: linear-gradient(to bottom, #666, #000);
    color: #fff;
    padding: 0 1em;

    a {
        color: $font-alternative-color;
    }

    a:hover {
        color: $accent-color;
        text-decoration: none;
    }

    i {
        color: $font-alternative-color;
        font-size: 3em;
        margin: 10px;
    }

    /* Style content */
    .box h4 {
        border-bottom: 2px solid #fff;
    }

    .final {
        text-align: center;
        color: #fff;
    }

    // Style the rows and columns
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .row > .col3 {
        width: calc(100%/3);
    }

    .row > .col1 {
        width: 100%;
    }
}
