/** header.css */

/* Set colors, size and prepare positioning */
.page_header {
    background-color: $darkbottom-color;
    border-bottom: 4px solid $accent-color;
    position: relative;
}

/* Position and size the logo */
.page_header .logo {
    width: 150px;
    position: relative;
    top: 5px;
    left: 20px;
}

/* Modify and poistion the title */
.page_header .title {
    color: #fff;
    font-size: 4em;
    text-shadow: 2px 2px 2px var(--medium-color);
    position: relative;
    top: -90px;
    left: 100px;
}

/*
 * Modify and position the subtitle.
 */
.page_header .subtitle {
    color: var(--dark-color);
    font-size: 24px;

    display: inline-block;

    position: relative;
    top: -50px;
    left: 100px;
}
