// Normalize and initate
@import '/themes/node_modules/normalize.css/normalize.css';
@import 'init';

// Set color variables
@import 'colors';

// Set fonts
@import '../../shared/scss/fa/fontawesome';
@import '../../shared/scss/fa/solid';
@import '../../shared/scss/fa/brands';
@import 'typography';

// Set layout
@import 'layout';
//@import 'two-column-layout';
//@import 'responsive';

// Set main segments
// @import 'main';
@import 'header';
@import 'footer';
@import 'navbar';

// Set additional segments
@import 'blockquote';
@import 'code';
@import 'figure';
@import 'byline';

/*
body {
    background-color: #8892BF;
    border: 4px solid #4F5B93;
}

main {
    margin: 0 auto;
    max-width: 800px;

    padding: 0.5em;

    border: 4px solid #CCC;
    background-color: #F2F2F2;
    color: #333;
}
*/
