@import "../../node_modules/normalize.css/normalize.css";

@import "navbar.scss";
@import "header.scss";
@import "footer.scss";
@import "typography.scss";
@import "main.scss";
@import "figure.scss";
@import "byline.scss";
@import "two-column-layout.scss";
@import "responsive.scss";
@import "two-column-layout.scss";
@import "typography.scss";

html {
    background-color: #000;
}

/*
body {
    background-color: #8892BF;
    border: 4px solid #4F5B93;
}

main {
    margin: 0 auto;
    max-width: 800px;

    padding: 0.5em;

    border: 4px solid #CCC;
    background-color: #F2F2F2;
    color: #333;
}
*/
