<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="referrer" content="unsafe-url">
        <meta name="viewport" content="width=device-width; initial-scale=1">

        <title>{{ title }}</title>

        <link rel="shortcut icon" href="img/favicon.ico"/>
        <link rel="stylesheet" href="themes/code/style.css">
    </head>
    <body class="grid wrapper">   
        
        {% include 'templates/header.twig' %}
        {% include 'templates/navbar.twig' %} 

        {% block content %}{% endblock %}

        {% include 'templates/footer.twig' %}
    </body>
</html>
