<!-- Navbar -->
<nav class="navbar normal-font"><ul>
    {% for itm in nav %}
    <li><a href="index.php?page={{ itm.url }}" {% if selected == itm.url %}class = "selected"{% endif %}>{{ itm.title }}</a></li>
    {% endfor %}
</ul></nav>


